.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cb-purple-dark { background-color: #762a83; color: #ffffff; }
.cb-purple-light { background-color: #af8dc3; color: #ffffff; }
.cb-neutral { background-color: #f7f7f7; color: #333333; }
.cb-green-light { background-color: #7fbf7b; color: #ffffff; }
.cb-green-dark { background-color: #1b7837; color: #ffffff; }
